@import url("https://fonts.googleapis.com/css?family=Roboto");
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  background-color: #FAEBD7; }

header {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  background-color: #DC143C;
  color: #FFD700; }

.footer {
  font-size: .85em;
  font-family: "Roboto", sans-serif;
  background-color: #DC143C;
  color: #FFD700; }
