@import "reset";
@import url('https://fonts.googleapis.com/css?family=Roboto');
$primary-color: #DC143C;
$secondary-color: #CD5C5C;
$third-color: #FFD700;
$white: #FAEBD7;
$outputWhite: #F5F5F5;
$font-stack: 'Roboto',
sans-serif;
//ONLY CREATED A SASS FILE TO GET INTO HABIT//

body{
	background-color: $white;
}

header {
    font-size: 2em;
    font-family: $font-stack;
    background-color: $primary-color;
    color: $third-color;
}

.footer{
	font-size: .85em;
	font-family: $font-stack;
	background-color: $primary-color;
	color: $third-color;
}
